= Server Documentation =

'''Last Updated:''' {{ timestamp }}

This page provides an overview of all documented servers in the lab.

== Quick Statistics ==
* '''Total Servers:''' {{ total_servers }}
* '''Reachable:''' {{ reachable_count }}
* '''Unreachable:''' {{ unreachable_count }}

{% if os_counts %}
== Operating Systems ==
{% for os_name, count in os_counts.items() %}
* '''{{ os_name }}:''' {{ count }} server{{ 's' if count != 1 else '' }}
{% endfor %}

{% endif %}
{% if service_counts and (service_counts.kubernetes > 0 or service_counts.docker > 0 or service_counts.proxmox > 0) %}
== Special Services ==
{% if service_counts.kubernetes > 0 %}
* '''Kubernetes:''' {{ service_counts.kubernetes }} server{{ 's' if service_counts.kubernetes != 1 else '' }}
{% endif %}
{% if service_counts.docker > 0 %}
* '''Docker:''' {{ service_counts.docker }} server{{ 's' if service_counts.docker != 1 else '' }}
{% endif %}
{% if service_counts.proxmox > 0 %}
* '''Proxmox:''' {{ service_counts.proxmox }} server{{ 's' if service_counts.proxmox != 1 else '' }}
{% endif %}

{% endif %}
{% if reachable_hosts %}
== Active Servers ==

{| class='wikitable sortable'
|-
! Server !! Operating System !! Uptime !! Special Services
{% for hostname, data in reachable_hosts|sort %}
{% set os_info = data.os_release or {} %}
{% set os_display = os_info.pretty_name or os_info.name or 'Unknown OS' %}
{% set uptime = data.uptime or 'Unknown' %}

{# Special services #}
{% set services = [] %}
{% if data.kubernetes_info and data.kubernetes_info.pods %}
  {% set _ = services.append('K8s (' + (data.kubernetes_info.pods|length|string) + ' pods)') %}
{% endif %}
{% if data.docker_containers %}
  {% set _ = services.append('Docker (' + (data.docker_containers|length|string) + ' containers)') %}
{% endif %}
{% if data.proxmox_info %}
  {% set vm_count = data.proxmox_info.vms|length if data.proxmox_info.vms else 0 %}
  {% set ct_count = data.proxmox_info.containers|length if data.proxmox_info.containers else 0 %}
  {% if vm_count > 0 or ct_count > 0 %}
    {% set _ = services.append('Proxmox (' + vm_count|string + 'VM/' + ct_count|string + 'CT)') %}
  {% else %}
    {% set _ = services.append('Proxmox') %}
  {% endif %}
{% endif %}

{% set services_text = services|join(', ') if services else 'None' %}
|-
| [[Server:{{ hostname }}|{{ hostname }}]] || {{ os_display }} || {{ uptime }} || {{ services_text }}
{% endfor %}
|}

{% endif %}
{% if unreachable_hosts %}
== Unreachable Servers ==

{| class='wikitable'
|-
! Server !! Last Attempt !! Failure Reason
{% for hostname, data in unreachable_hosts|sort %}
{% set last_attempt = data.timestamp or 'Never' %}
{% set failure_reason = data.connection_failure_reason or 'Unknown' %}
|-
| {{ hostname }} || {{ last_attempt }} || {{ failure_reason }}
{% endfor %}
|}

{% endif %}
== Navigation ==
* [[Special:PrefixIndex/Server:|Browse all server pages]]
* [[Special:AllPages|All pages on this wiki]]
* [[Special:RecentChanges|Recent changes]]

== Quick Server Search ==
<inputbox>
type=search
prefix=Server:
placeholder=Enter server name...
buttonlabel=Search Servers
searchbuttonlabel=Search All
</inputbox>

----
''This page is automatically generated by the Lab Documenter system.''
