= Switch: {{ switch_name }} =

'''Last Updated:''' {{ timestamp }}

<big>'''[[{{ index_page_title or 'Server Documentation' }}|← Back to Server Index]]'''</big>

== Switch Information ==
{% if switch_descr %}
* '''Description:''' {{ switch_descr }}
{% endif %}
{% if switch_mac %}
* '''MAC Address:''' {{ switch_mac }}
{% endif %}
* '''Connected Hosts:''' {{ connections|length }}

== Connected Hosts ==
{% if connections %}
{| class='wikitable sortable'
|-
! Host !! Host Interface !! Switch Port !! VLAN
{% for conn in connections %}
|-
| [[Server:{{ conn.host }}|{{ conn.host }}]] || <code>{{ conn.local_interface }}</code> || {{ conn.switch_port }} || {{ conn.vlan if conn.vlan else '-' }}
{% endfor %}
|}
{% else %}
''No connections detected.''
{% endif %}

----

<big>'''[[{{ index_page_title or 'Server Documentation' }}|← Back to Server Index]]'''</big>
