{% if bonding_info %}
## Network Bonding
{% for bond in bonding_info %}
### {{ bond.name }}
- **Mode:** {{ bond.mode }}
- **Slave Interfaces:** {{ bond.slaves | length }}

{% if bond.slaves %}
| Interface | Status | Speed | Duplex |
|-----------|--------|-------|--------|
{% for slave in bond.slaves %}
| `{{ slave.name }}` | {{ slave.status }} | {{ slave.speed if slave.speed else '-' }} | {{ slave.duplex if slave.duplex else '-' }} |
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}
