{% if bonding_info %}
== Network Bonding ==
{% for bond in bonding_info %}
=== {{ bond.name }} ===
* '''Mode:''' {{ bond.mode }}
* '''Slave Interfaces:''' {{ bond.slaves | length }}

{% if bond.slaves %}
{| class='wikitable'
|-
! Interface !! Status !! Speed !! Duplex !! Switch Port
{% for slave in bond.slaves %}
{% set ns = namespace(switch_port='-') %}
{% for uplink in lldp_uplinks %}
{% if uplink.local_interface == slave.name %}
{% set ns.switch_port = uplink.switch_port %}
{% endif %}
{% endfor %}
|-
| <code>{{ slave.name }}</code> || {{ slave.status }} || {{ slave.speed if slave.speed else '-' }} || {{ slave.duplex if slave.duplex else '-' }} || {{ ns.switch_port }}
{% endfor %}
|}
{% endif %}

{% endfor %}
{% endif %}
