{% if cve_data and cve_data.available and cve_data.vulnerabilities %}
== CVE Vulnerabilities ==
'''Scan Summary:''' {{ cve_data.summary_wiki }}

{| class="wikitable sortable mw-collapsible mw-collapsed"
|+ Vulnerabilities ({{ cve_data.vulnerabilities | length }} total)
|-
! Severity !! Score !! Package !! Installed Version !! CVE ID !! Fixed In !! Status !! Title / Description
{% for v in cve_data.vulnerabilities %}
|-
| {{ v.severity_wiki }} || {{ v.score_wiki }} || {{ v.pkg_name }} || {{ v.pkg_version }} || {{ v.vuln_id_wiki }} || {{ v.fixed_wiki }} || {{ v.status_wiki }} || {{ v.details_wiki }}
{% endfor %}
|}

{% endif %}
