{% if listening_ports %}
== Listening Ports ==
{% if listening_ports|length <= 8 %}
{# Show ports directly for small lists #}
{% for port in listening_ports %}
{% if port.service_info and port.service_info.display_name %}
  {% set service_info = port.service_info %}
  {% set port_desc = " - '''" + service_info.display_name + "'''" %}
  {% if service_info.description and service_info.description != 'Unknown service' %}
    {% set port_desc = port_desc + " - " + service_info.description %}
  {% endif %}
  {% if service_info.access %}
    {% set port_desc = port_desc + " - ''Access: " + service_info.access + "''" %}
  {% endif %}
{% else %}
  {% set process_name = port.process_name or 'unknown' %}
  {% set port_desc = " - " + process_name %}
{% endif %}
* '''{{ port.port or 'Unknown' }}'''{{ port_desc }}
{% endfor %}
{% else %}
{# Show first few ports, then collapsible table #}
{% for port in listening_ports[:4] %}
{% if port.service_info and port.service_info.display_name %}
  {% set service_info = port.service_info %}
  {% set port_desc = " - '''" + service_info.display_name + "'''" %}
  {% if service_info.description and service_info.description != 'Unknown service' %}
    {% set port_desc = port_desc + " - " + service_info.description %}
  {% endif %}
  {% if service_info.access %}
    {% set port_desc = port_desc + " - ''Access: " + service_info.access + "''" %}
  {% endif %}
{% else %}
  {% set process_name = port.process_name or 'unknown' %}
  {% set port_desc = " - " + process_name %}
{% endif %}
* '''{{ port.port or 'Unknown' }}'''{{ port_desc }}
{% endfor %}

{| class='wikitable mw-collapsible mw-collapsed'
|+ Additional Ports ({{ listening_ports|length - 4 }} more, total: {{ listening_ports|length }})
|-
! Port !! Service !! Description !! Access
{% for port in listening_ports[4:] %}
{% if port.service_info and port.service_info.display_name %}
  {% set service_info = port.service_info %}
  {% set service_name = service_info.display_name %}
  {% set description = service_info.description or '' %}
  {% set access = service_info.access or '' %}
{% else %}
  {% set service_name = port.process_name or 'unknown' %}
  {% set description = '' %}
  {% set access = '' %}
{% endif %}
|-
| {{ port.port or 'Unknown' }} || {{ service_name }} || {{ description }} || {{ access }}
{% endfor %}
|}
{% endif %}
{% endif %}

