{% if mac_info %}
== Mac Hardware ==

{% if mac_info.model_name %}
* '''Model:''' {{ mac_info.model_name }}
{% endif %}
{% if mac_info.model_identifier %}
* '''Identifier:''' {{ mac_info.model_identifier }}
{% endif %}
{% if mac_info.chip %}
* '''Chip:''' {{ mac_info.chip }}{% if mac_info.processor_speed %} ({{ mac_info.processor_speed }}){% endif %}

{% endif %}
{% if mac_info.total_cores %}
* '''Cores:''' {{ mac_info.total_cores }}
{% endif %}
{% if mac_info.memory_installed %}
* '''Memory Installed:''' {{ mac_info.memory_installed }}
{% endif %}
{% if mac_info.serial_number %}
* '''Serial Number:''' {{ mac_info.serial_number }}
{% endif %}
{% if mac_info.product_version and mac_info.build_version %}
* '''macOS Build:''' {{ mac_info.product_version }} ({{ mac_info.build_version }})
{% endif %}

{% endif %}
