{% if nas_info %}
== NAS System Information ==

=== Device Details ===
* '''NAS Type:''' {{ nas_info.nas_type | title }}
{% if nas_info.model_info %}
{% if nas_info.model_info.model %}
* '''Model:''' {{ nas_info.model_info.model }}
{% endif %}
{% if nas_info.model_info.firmware_version %}
* '''Firmware:''' {{ nas_info.model_info.firmware_version }}
{% endif %}
{% if nas_info.model_info.build_number %}
* '''Build:''' {{ nas_info.model_info.build_number }}
{% endif %}
{% endif %}

{% if nas_info.volumes %}
=== Storage Volumes ===
{% if nas_info.volumes|length <= 5 %}
{% for volume in nas_info.volumes %}
* '''{{ volume.mount_point }}''' ({{ volume.type }}) - {{ volume.used }}/{{ volume.size }} ({{ volume.usage_percent }})
** Device: {{ volume.device }}
{% endfor %}
{% else %}
{% for volume in nas_info.volumes[:3] %}
* '''{{ volume.mount_point }}''' ({{ volume.type }}) - {{ volume.used }}/{{ volume.size }} ({{ volume.usage_percent }})
** Device: {{ volume.device }}
{% endfor %}

{| class='wikitable mw-collapsible mw-collapsed'
|+ Additional Volumes ({{ nas_info.volumes|length - 3 }} more)
|-
! Mount Point !! Type !! Used !! Size !! Usage !! Device
{% for volume in nas_info.volumes[3:] %}
|-
| {{ volume.mount_point }} || {{ volume.type }} || {{ volume.used }} || {{ volume.size }} || {{ volume.usage_percent }} || {{ volume.device }}
{% endfor %}
|}
{% endif %}
{% endif %}

{% if nas_info.storage_pools %}
=== Storage Pools ===
{% for pool in nas_info.storage_pools %}
* '''{{ pool.name }}''' ({{ pool.type }}) - {{ pool.state }}
{% if pool.level %}
** RAID Level: {{ pool.level }}
{% endif %}
{% endfor %}
{% endif %}

{% if nas_info.shares %}
=== Network Shares ===
{% if nas_info.shares|length <= 8 %}
{% for share in nas_info.shares %}
* '''{{ share.name }}''' ({{ share.protocol }})
{% endfor %}
{% else %}
{% for share in nas_info.shares[:4] %}
* '''{{ share.name }}''' ({{ share.protocol }})
{% endfor %}

{| class='wikitable mw-collapsible mw-collapsed'
|+ Additional Shares ({{ nas_info.shares|length - 4 }} more)
|-
! Share Name !! Protocol
{% for share in nas_info.shares[4:] %}
|-
| {{ share.name }} || {{ share.protocol }}
{% endfor %}
|}
{% endif %}
{% endif %}

{% if nas_info.disk_health %}
=== Disk Health ===
{% if nas_info.disk_health|length <= 6 %}
{% for disk in nas_info.disk_health %}
* '''{{ disk.device }}''' ({{ disk.size }}) - {{ disk.model }} - Health: {{ disk.health }}
{% endfor %}
{% else %}
{% for disk in nas_info.disk_health[:3] %}
* '''{{ disk.device }}''' ({{ disk.size }}) - {{ disk.model }} - Health: {{ disk.health }}
{% endfor %}

{| class='wikitable mw-collapsible mw-collapsed'
|+ Additional Disks ({{ nas_info.disk_health|length - 3 }} more)
|-
! Device !! Size !! Model !! Health
{% for disk in nas_info.disk_health[3:] %}
|-
| {{ disk.device }} || {{ disk.size }} || {{ disk.model }} || {{ disk.health }}
{% endfor %}
|}
{% endif %}
{% endif %}

{% if nas_info.network_interfaces %}
=== Network Interfaces ===
{% for iface in nas_info.network_interfaces %}
* '''{{ iface.name }}''' - {{ iface.ip_address or 'No IP' }} ({{ iface.state }})
{% endfor %}
{% endif %}

{% if nas_info.installed_packages %}
=== Installed Packages/Apps ===
{| class='wikitable mw-collapsible mw-collapsed'
|+ Show {{ nas_info.installed_packages|length }} installed packages
|-
|
{% for package in nas_info.installed_packages %}
* {{ package }}
{% endfor %}
|}
{% endif %}

{% if nas_info.system_status %}
=== System Status ===
{% if nas_info.system_status.uptime %}
* '''Uptime:''' {{ nas_info.system_status.uptime }}
{% endif %}
{% if nas_info.system_status.load_average %}
* '''Load Average:''' {{ nas_info.system_status.load_average }}
{% endif %}
{% if nas_info.system_status.temperature %}
* '''Temperature:''' {{ nas_info.system_status.temperature }}
{% endif %}
{% endif %}

{% endif %}

