{% if nic_details %}
== NIC Details ==
{| class='wikitable sortable'
|-
! Interface !! Speed !! Duplex !! Link !! Driver !! Firmware !! Bus Info
{% for nic in nic_details %}
|-
| <code>{{ nic.name }}</code> || {{ nic.speed or '-' }} || {{ nic.duplex or '-' }} || {{ nic.link or '-' }} || {{ nic.driver or '-' }} || {{ nic.firmware or '-' }} || {{ nic.bus_info or '-' }}
{% endfor %}
|}

{% endif %}
